@import './root.css';

* {
	/* font-family: 'Inconsolata', monospace; */
	font-family: var(--font-source-sans-pro), sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	width: 100vw;
	font-family: var(--font);
	color: var(--light);
	background-color: var(--dark);
}

main {
	align-items: center;
	display: flex;
	margin: 10px 0;
	min-width: 280px;
	flex-direction: column;
	font-size: 16px;
	height: 100vh;
	width: 100vw;
	justify-content: center;
}

.form {
	display: flex;
	justify-content: center;
	width: 100%;
	user-select: none;
}

.form-fieldset {
	border-radius: 5px;
	min-width: 260px;
	width: 40%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid;
	font-size: 4rem;
}

.form-fieldset__text {
	font-size: 2rem;
}

.input-container {
	display: flex;
	width: 100%;
	position: relative;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.input-container > .input {
	outline: none;
	position: relative;
	height: 40px;
}

.input-container > .password {
	padding-right: 45px; /* Añade espacio a la derecha para el icono */
	font-size: 16px;
}

/* Formato de capitalización */
#name {
	text-transform: capitalize;
}

.password-toggle {
	z-index: 2;
	position: absolute;
	right: 0;
	overflow: hidden;
	padding-right: 15px;
	top: 10px;
	width: 40px; /* Ancho fijo para el icono */
	cursor: pointer;
	text-align: end;
}

label:not(:last-of-type) {
	margin-bottom: 10px;
}

.input {
	height: 30px;
}

/* .message-name {
	position: relative;
	margin-top: 40px;
}

.message-password {
	position: relative;
	margin-top: 100px;
} */

.box {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.box > input {
	margin-right: 10px;
}

.box4 {
	margin-top: 10px;
}

.container-buttons {
	display: flex;
	flex-direction: column;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
	color: var(--color-white);
	height: 40px;
	background-color: transparent;
	border: 1px solid var(--color-gray);
}

.button1 {
	margin-bottom: 10px;
}

.message,
.warning-title {
	padding: 5px;
	font-size: 1.2rem;
}
