* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;
	background-color: #292929;
}
#main-nav {
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

#main-nav > h1,
div {
	color: white;
}

#main-nav h1 {
	font-size: 3rem;
}

.main-nav__pages > .link {
	font-size: 2rem;
	margin-left: 10px;
	text-decoration: none;
	color: white;
}

.link:hover {
	color: blueviolet;
}

.link:active {
	color: red;
}

#main-page {
    display: flex;
}

/* Estilo base para los select */
select {
	width: 100px; /* Ancho completo del contenedor */
	padding: 10px; /* Espacio interno */
	border: 1px solid #ccc; /* Borde con color de fondo */
	border-radius: 5px; /* Esquinas redondeadas */
	font-size: 16px; /* Tamaño de fuente */
	background-color: #fff; /* Fondo blanco */
	color: #333; /* Color de texto */
  }
  
  /* Estilo cuando se enfoca el select */
  select:focus {
	outline: none; /* Quita el borde predeterminado */
	border-color: #007bff; /* Cambia el color del borde al enfocar */
  }
  
  /* Estilo para las opciones dentro del select */
  select option {
	background-color: #fff; /* Fondo de las opciones */
	color: #333; /* Color del texto de las opciones */
  }
  
  /* Estilo para el borde al abrir el select */
  select::after {
	content: '\25BC'; /* Flecha hacia abajo */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	font-size: 18px;
	color: #777;
  }