* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;
	background-color: #292929;
}

#main-nav {
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

#main-nav > h1,
div {
	color: white;
}

#main-nav h1 {
	font-size: 3rem;
}

.main-nav__pages > .link {
	font-size: 2rem;
	margin-left: 10px;
	text-decoration: none;
	color: white;
}

.link:hover {
	color: blueviolet;
}

.link:active {
	color: red;
}

#root > #main-page {
	display: flex;
	flex-direction: column;
	place-content: center;
}

#main-page {
	display: grid;
	user-select: none;
	place-items: center;
	height: calc(100vh - 54px);
	gap: 10px;
}

.imagen-anime {
	margin: 20px 0;
	width: 200px;
	background-color: #242424;
	height: 300px;
	filter: drop-shadow(5px 5px 5px #000000);
	object-fit: contain;
	border-radius: 5px;
}

h2 {
	font-size: 3rem;
	user-select: none;
}

.entrada {
	background-color: transparent;
	border-radius: 4px;
	border: solid white 1px;
	color: white;
	height: 40px;
	padding: 4px;
}

.entrada:focus {
	outline: none;
	border: solid white 1px;
}

.resultado {
	font-size: 2rem;
	color: red;
}

/* Estilo base para los select */
select {
	cursor: pointer;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #ccc;
	color: white;
	font-size: 16px;
	padding: 10px;
	width: 100px;
}

select:focus {
	outline: none;
	border-color: #007bff;
}

select option {
	background-color: transparent;
	color: #333;
}

/* Estilo para el borde al abrir el select */
select::after {
	content: '\25BC'; /* Flecha hacia abajo */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	font-size: 18px;
	color: #777;
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.imagen-anime {
		width: 300px;
		height: 400px;
	}
	
}
